html{
    height: 100%;
}

body{
    color: #474747;
    padding: 0;
    margin: 0;
    height: 100%;
}
#page{
    min-height:100%;
    background-image:  url('/static/images/tape.png'),url('/static/images/base_background.png');
    background-repeat: repeat-y, repeat;
}
#page_header{
    background-color:#dbe4f3;
    height: 200px;
    padding: 10px;
    background-image: url('/static/images/jeans.png');
    text-align: center;
}
#img_main_logo{
    margin-top:60px;
}
#head_menu{
    text-align: right;
    background-color: #f8f9fd;
    background-image:url('/static/images/jeans_line.png');
    height: 50px;
    color: white;
    font-family: Courier;
    font-size: 25px;
    padding-right:10px;
}
.head_menu_item{
    display: inline-block;
    padding: 10px 0 0 0; 
    margin: 0 ;
    text-decoration:none;
    color: white; #!474797;
    font: bold italic 25px Courier;
}
.head_menu_item:hover{
    color: #86a8fd;
}
#left_menu{
    width: 300px;
    padding-top: 20px;
    float: left; 
}
.left_menu_item{
    background-color: #dacc45;
    background-color: #de9641;
    background-color: #edce98;
    background-color: #07B00F;
    background-color: #76dc4d;
    color: #54391e;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
    display: block;
    padding: 15px;
    margin: 0 0 20px 20px;
    text-decoration: none;
    color: #2d2d2d; 33:#154403;
    font: bold italic 25px Courier;
}
.left_menu_item:hover{
    color: #268500;
}
#main_square{
    margin: 10px 10px 0 340px;
}
.jewel_icon{
    display: block;
    float: left;
    width: 250px;
    height: 270px;
    background-color: #f5f08c;
    background-color: #aFaFaD;
    background-color: #ebf461;
    border-radius:5px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
    text-decoration: none;
}
.img_jewel_icon{
    max-width:240px;
    max-height:240px;
    margin:5px;
}
#page_footer{
    background-color: #00c700;
    background-color: #9a8222;
    background-color: #b39e31;
    background-color: #79922c;
    background-color:#dbe4f3;
    height: 100px;
    margin-top: -100px;
    bottom: 0;
    background-image: url('/static/images/jeans.png');
}

.div_jewel_info{
    display: block;
    background-color: #f5f08c;
    background-color: #aFaFaD;
    background-color: #ebf461;
    border-radius:5px;
    margin: 10px;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
    text-decoration: none;
    margin: 20px 10px 10px 0;
    padding: 10px;
}
