<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{title|default('жуковина')}}</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/jukovina.css"/>
  </head>
 
  <body>
    <div id="page">
        <div id="page_header">
            <div id="page_text_logo">Жуковина</div>   
        </div>
        <div id="head_menu">
            <a href="/index/" class="head_menu_item">Home</a>
            {% if g.user.is_authenticated() %}
                | <a class="head_menu_item" href="{{ url_for('user', login = g.user.login) }}">Your Profile</a>
                  {% if g.user.is_admin() %}
                | <a class="head_menu_item" href="{{ url_for('new_jewel') }}">New jewel</a>
                  {% endif %}
                | <a class="head_menu_item" href="{{ url_for('logout') }}">Logout</a>
            {% endif %}

        </div>
        <div id="left_menu">
            <a href="" class="left_menu_item">Тоавры</a>
            <a href="" class="left_menu_item">Тоавры</a>
            <a href="" class="left_menu_item">Тоавры</a>
        </div>
 
        <div id="main_square">
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="page_footer"></div>
  </body>
</html>
