<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{title|default('жуковина')}}</title>
    <link rel = "stylesheet" type = "text/css" href = "/static/css/jukovina.css"/>
  </head>
 
  <body>
    <div id="page">
        <div id="page_header">
            <a href="/">
            <img src="/static/images/main_label.png" id="img_main_logo"/>
            </a>
        </div>
        <div id="head_menu">
            {% if g.user.is_authenticated() %}
                Привет, 
                <a class="head_menu_item" 
                    href="{{ url_for('user', login = g.user.login) }}">
                    {{g.user.login}}</a>
               | <a class="head_menu_item" 
                    href="{{ url_for('logout') }}">Logout</a>
            {% endif %}

        </div>
        <div id="left_menu">
            <a href="/" class="left_menu_item">Головна</a>
            <a href="" class="left_menu_item">Товари</a>
            <a href="" class="left_menu_item">Новини</a>
            {% if g.user.is_authenticated() and g.user.is_admin() %}
                <a class="left_menu_item" 
                    href="{{ url_for('new_jewel') }}">Додати товар</a>
            {% endif %}
        </div>
 
        <div id="main_square">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }} </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="page_footer"></div>
  </body>
</html>
