{% extends "base.html" %}
{% block content %}
<form action = "" method="post" name="jewel_form" enctype="multipart/form-data">
    {{jewel.hidden_tag()}}
    <table>
      <tr><td>Назва товару</td><td>{{jewel.name}}</td>
        <td>{% for error in jewel.errors.name %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </td>
      </tr>
      <tr><td>Опис товару</td><td>{{jewel.description}}</td>
        <td>{% for error in jewel.errors.description %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </td>
      <tr><td>Зображення товару</td><td>
          {{jewel.image}}
        </td>
        <td>{% for error in jewel.errors.image %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
        </td>

      </tr>
    </table><br/>
    <input type="submit" value="Зберігти"/>
  </form>
{% endblock %}
