<div id="product_list">
{% if product_list %}

  {% for item in product_list%}
  <a href="/{{item.name_en}}">
    <div style="
      border: 1px solid black;
      display: block;
      float: left;
      height: 250px;
      margin: 5px;
      width: 200px;
      ">
      <image style="width:200px; height:200px" src="{{item.get_main_image_url()}}"/>
      {{item.name}}
      {% if item.main_image %}
        {{item.main_image}}
      {% endif %}
    </div>
  </a>
  {%endfor%}
{% else %}
<br/>  немає описів товарів<br/>
{% endif %}
</div>
